includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon
    - phpstan-include.php

parameters:
    level: 5
    paths:
        - app
        - routes
        - config
        - database
    bootstrapFiles:
        - phpstan-bootstrap.php
